<h2>Madrid</h2>>
<p>Madrid es un municipio y una ciudad de España. Con categoría histórica de villa,​ es la capital del Estado​ y de la Comunidad de Madrid. 
    En su término municipal, el más poblado de España, viven 3.334.730 personas empadronadas, según el INE de 2020. 
    El área metropolitana asociada tiene una población de 6 779 888 habitantes,​ la segunda de la Unión Europea, según la fuente, tras la de París, 
    y en otras fuentes detrás también de la Región del Ruhr, así como la segunda ciudad más poblada de la Unión Europea, por detrás de Berlín.</p>
<img src="../../../assets/img/Escudo_de_Madrid.svg">